header{
    height: 100px;
    margin-bottom: 25px;
}
#ifmaker{
    font-size: 4rem;
}
.card-list-container{
    display: flex;
    flex-flow: column;
    width: 20%;
    margin: 0 auto;
}
.card-container{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px black;
}